/*General styles*/
body {
  font-family: 'Roboto', sans-serif; }

a, a:hover, a:link, a:active {
  text-decoration: none;
  color: inherit; }

ul li {
  list-style: none; }

/*Main container styles*/
#main {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto; }

/*Header styles*/
.header {
  width: 930px;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 13px; }

.header p {
  height: 30px;
  line-height: 30px;
  margin: 0;
  padding: 0 20px;
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0; }

.header p:last-of-type {
  border-right: none; }

.header i {
  width: 40px;
  height: 30px;
  line-height: 30px;
  text-align: center; }

.header a,
.header a:active,
.header a:link {
  color: #000;
  text-decoration: none; }

.header a:hover {
  color: #cccccc; }

/*Navigation bar styles*/
.navBar {
  height: 60px;
  width: 100%;
  margin: 0 auto;
  background: #f2f2f2;
  border-top: 1px solid #e0e0e0; }

.navContainer {
  width: 930px;
  margin: 0 auto;
  text-transform: uppercase; }

.navbar {
  padding: 0; }

.navbar-brand img {
  height: auto;
  width: 198px; }

.nav-item a,
.nav-item a:active,
.nav-item a:link {
  font-size: 0.7em;
  font-weight: bold;
  color: #000 !important;
  padding: 0 !important; }

.nav-item a:hover {
  color: rgba(0, 0, 0, 0.5) !important; }

.btnContainer {
  width: 225px;
  height: 60px;
  font-size: 0.8em;
  color: #e0e0e0; }

.btnContainer p {
  cursor: pointer;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #797979; }

.btnContainer p:first-child {
  width: 80px; }

.searchContainer {
  width: 140px;
  border-left: 6px solid #e0e0e0; }

.searchContainer p:first-child {
  width: 92px;
  background: #494949; }

.btnContainer i {
  cursor: pointer;
  width: 50px;
  background: #000;
  color: #FFF;
  font-size: 18px; }

/*Slider and form wizard styles*/
#sliderContainer {
  height: 670px;
  background: #cccccc; }

/*Slider buttons*/
#sliderContainer {
  position: relative; }

#sliderContainer a,
#sliderContainer a:hover {
  text-decoration: none; }

.rslides {
  height: 100%; }

a.rslides_nav.rslides1_nav.prev {
  position: absolute;
  bottom: 300px;
  z-index: 3;
  width: 50px;
  height: 50px;
  background: #000;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold; }

a.rslides_nav.rslides1_nav.next {
  position: absolute;
  bottom: 300px;
  right: 0;
  z-index: 3;
  width: 50px;
  height: 50px;
  background: #000;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold; }

/*Wizard form styles*/
.wizardContainer {
  margin: 0 auto;
  width: 930px;
  height: 180px;
  position: absolute;
  bottom: 55px;
  right: 0;
  left: 0;
  background: #FFF;
  z-index: 3; }

.bckNextButton {
  margin: 0 auto;
  width: 185px;
  height: 50px;
  position: absolute;
  bottom: 50px;
  border-radius: 10px;
  right: 0;
  left: 0;
  background: #000;
  z-index: 2; }

.easyWizardSteps {
  list-style: none;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px; }

.easyWizardSteps li {
  font-size: 18px;
  display: inline-block;
  padding: 10px;
  color: #B0B1B3;
  margin-right: 20px; }

.easyWizardSteps li span {
  font-size: 24px; }

.easyWizardSteps li.current {
  color: #000; }

.easyWizardButtons {
  overflow: hidden;
  padding: 10px; }

.easyWizardButtons button, .easyWizardButtons .submit {
  cursor: pointer; }

.easyWizardButtons .prev {
  float: left; }

.easyWizardButtons .next, .easyWizardButtons .submit {
  float: right; }

/*Grid container styles*/
#gridSection {
  height: 510px;
  background: #f2f2f2; }

.gridContainer {
  width: 930px;
  height: 490px;
  margin: 0 auto; }

.grid {
  display: grid;
  grid-template-columns: 1fr 1.2fr 1fr;
  grid-auto-rows: minmax(100px, auto);
  grid-column-gap: 3px;
  grid-row-gap: 3px;
  justify-items: stretch;
  align-items: stretch; }

.grid > div {
  background: #fff; }

.grid-item-1 {
  grid-row: 1/3;
  height: 325px;
  overflow: hidden;
  position: relative; }

.grid-item-2,
.grid-item-3 {
  height: 161px;
  overflow: hidden;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  -ms-align-items: center;
  align-items: center; }

.grid-item-4 {
  grid-column: 3/4;
  grid-row: 1/4;
  width: 295px;
  margin-left: 5px; }

.grid-item-5 {
  grid-column: 1/3;
  grid-row: 3/4;
  height: 160px;
  margin-top: 4px;
  overflow: hidden;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  -ms-align-items: center;
  align-items: center; }

/*Grid info slide styles*/
.centered-btns {
  height: 100%;
  width: 100%;
  padding: 0; }

.centered-btns li {
  height: 100%;
  width: 100%;
  right: 0;
  left: 0;
  margin: 0 auto; }

.centered-btns_tabs {
  text-align: center;
  position: absolute;
  right: 0;
  left: 0;
  z-index: 4;
  background: rgba(255, 255, 255, 0.2);
  bottom: 0;
  margin: 0;
  padding: 0; }

div [class^="grid-item-"] img {
  width: 100%;
  height: auto; }

/*Info sectio styles*/
#infoSection {
  height: 140px;
  width: 100%;
  background: #FFF;
  font-size: 13px; }

.infoContainer {
  width: 900px;
  height: 100%;
  margin: 0 auto; }

.infoContainer p {
  margin: 0;
  padding: 0;
  margin-bottom: 10px; }

.infoContainer h4 {
  font-size: 16px; }

.infoContainer .infoText {
  width: 215px;
  font-size: 11px; }

.infoContainer .googleText {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  width: fit-content;
  color: #984ad2; }

.googleText:hover {
  color: #73389F; }

.contactInfo {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: -0.7px; }

.contactInfo a:hover {
  color: #999999; }

.contactInfo ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0;
  margin: 0;
  text-align: right; }

.contactInfo li {
  list-style: none;
  text-decoration: none;
  padding: 2px 0; }

/*Footer styles*/
footer {
  height: 35px;
  background: #e6e6e6; }

p.footerText {
  font-size: 12px;
  text-align: right;
  width: 900px;
  margin: 0 auto;
  padding-top: 5px; }

/*# sourceMappingURL=main.css.map */
