#main {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto; }

/*Header styles*/
.header {
  width: 930px;
  margin: 0 auto;
  text-transform: uppercase; }

.header p {
  height: 30px;
  line-height: 30px;
  margin: 0;
  padding: 0 20px;
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0; }

.header p:last-of-type {
  border-right: none; }

.header i {
  width: 40px;
  height: 30px;
  line-height: 30px;
  text-align: center; }

.header a,
.header a:active,
.header a:link {
  color: #000;
  text-decoration: none; }

.header a:hover {
  color: #cccccc; }

/*Navigation bar styles*/
.navBar {
  height: 60px;
  width: 100%;
  margin: 0 auto;
  background: #f2f2f2;
  border-top: 1px solid #e0e0e0; }

.navContainer {
  width: 930px;
  margin: 0 auto;
  text-transform: uppercase; }

.navbar {
  padding: 0; }

.nav-item a,
.nav-item a:active,
.nav-item a:link {
  font-size: 0.7em;
  font-weight: bold;
  color: #000 !important;
  padding: 0 !important; }

.nav-item a:hover {
  color: rgba(0, 0, 0, 0.5) !important; }

.btnContainer {
  width: 225px;
  height: 60px;
  font-size: 0.8em;
  color: #e0e0e0; }

.btnContainer p {
  cursor: pointer;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #797979; }

.btnContainer p:first-child {
  width: 80px; }

.searchContainer {
  width: 140px;
  border-left: 6px solid #e0e0e0; }

.searchContainer p:first-child {
  width: 92px;
  background: #494949; }

.btnContainer i {
  cursor: pointer;
  width: 50px;
  background: #000;
  color: #FFF;
  font-size: 18px; }

/*Slider and form wizard styles*/
#sliderContainer {
  height: 670px;
  background: #cccccc; }

/*Slider buttons*/
#sliderContainer {
  position: relative; }

#sliderContainer a,
#sliderContainer a:hover {
  text-decoration: none; }

.rslides {
  height: 100%; }

a.rslides_nav.rslides1_nav.prev {
  position: absolute;
  bottom: 300px;
  z-index: 3;
  width: 50px;
  height: 50px;
  background: #000;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold; }

a.rslides_nav.rslides1_nav.next {
  position: absolute;
  bottom: 300px;
  right: 0;
  z-index: 3;
  width: 50px;
  height: 50px;
  background: #000;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold; }

/*Wizard form styles*/
.wizardContainer {
  margin: 0 auto;
  width: 930px;
  height: 180px;
  position: absolute;
  bottom: 55px;
  right: 0;
  left: 0;
  background: #FFF;
  z-index: 3; }

.bckNextButton {
  margin: 0 auto;
  width: 185px;
  height: 50px;
  position: absolute;
  bottom: 50px;
  border-radius: 10px;
  right: 0;
  left: 0;
  background: #000;
  z-index: 2; }

/*Grid container styles*/
#gridSection {
  height: 510px;
  background: #f2f2f2; }

.gridContainer {
  width: 930px;
  height: 490px;
  margin: 0 auto;
  background: #4d4d4d; }

/*Info sectio styles*/
#infoSection {
  height: 140px;
  width: 100%;
  background: #FFF; }

/*Footer styles*/
footer {
  height: 35px;
  background: #e6e6e6; }

/*# sourceMappingURL=main.css.map */
